* {
	box-sizing: border-box;
	font-family: 'Poiret One', cursive;
	margin: 0;
	padding: 0;
}
.to-right{
	float: right;
	position: relative;
}
.to-left{
	float: left;
}
section{
	background-color: @gray;
}
.border-on-white{
	border: 2px solid #f5f5f5;
}